<!doctype html>
<html lang="es">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}" rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css"
	 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>other title</title>
</head>

<body>
	<div th:insert="navbar :: navigationBar"></div>
	<div class="container">
		<form method="post" th:action="@{/crear-proyecto}">
			<div th:object="${participante}">
				<div class="form-group">
					<label for="Nombre del encargado">Nombre del encargado</label>
					<input type="text" th:field="*{Name}" class="form-control" id="NombreEncargado">
				</div>
				<div class="form-group">
					<label for="Correo del encargado">Correo del encargado</label>
					<input type="text" th:field="*{email}" class="form-control" id="CorreoEncargado">
				</div>
			</div>
			<div th:object="${proyecto}">
				<div class="form-group">
					<label for="Nombre Proyecto">Nombre del proyecto</label>
					<input type="text" th:field="*{nombre_proyecto}" class="form-control" id="NombreProyecto" placeholder="Nombre del proyecto">
				</div>
				<div class="form-group">
					<label for="Breve descripción del proyecto">Breve descripción del proyecto</label>
					<textarea th:field="*{descripcion}" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción del proyecto"></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script th:src="@{/bootstrap-4.0.0-dist/js/bootstrap.min.js}" src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"
	 integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>