<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <table>
        <th>
            <tr>
                <td>id</td>
                <td>nombre</td>
                <td>email</td>
                <td>permisos</td>
            </tr>

        </th>
        <th:block th:each="per :${participantes}">
            <tr>
                <td th:text="${per.id_participante}"></td>
                <td th:text="${per.Name}"></td>
                <td th:text="${per.email}"></td>
                <td th:text="${per.permisos}"></td>
            </tr>
        </th:block>
    </table>
</body>

</html>