<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link th:href="@{/bootstrap-4.0.0-dist/css/bootstrap.min.css}" rel="stylesheet"
    href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Proyectos</title>
</head>

<body th:style="'background: url('+ @{/images/fondo.svg}+') no-repeat;background-size: cover;'">
  <div th:insert="navbar :: navigationBar"></div>
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Proyectos
    </h1>
    <hr>

    <!-- Project One -->
    <div th:each="proyecto : ${proyectos}">
      <div class="row">
        <div class="col-sm-7">
          <h3 th:text="${proyecto.nombre}">Project One</h3>
          <p th:text="${proyecto.detalle}">Description</p>
          <p th:switch="${proyecto.state}">
            <span th:case="'1'">En espera de revision</span>
            <span th:case="'2'">Aprobado</span>
            <span th:case="'3'">Rechazado</span>
          </p>
          <p>
            <span th:if="${proyecto.tipo == '1'}">Proyecto Interno</span>
            <span th:unless="${proyecto.tipo == '1'}">Proyecto Externo</span>
          </p>
          <a class="btn btn-primary" th:href="@{proyect_detail/} + ${proyecto.id_proyecto}">View Project</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
    </div>

    <!-- /.row -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script th:src="@{/bootstrap-4.0.0-dist/js/bootstrap.min.js}" src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>