<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Proyecto detalle</title>
</head>

<body th:style="'background: url('+ @{/images/fondo.svg}+') no-repeat;background-size: cover;'">
  <div th:insert="navbar :: navigationBar"></div>
  <main role="main" class="container rounded" style="background-color: rgba(180, 180, 180, 0.438)">
    <div class="my-3 p-2"></div>
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm"
      style="background-color: rgba(255, 255, 255, 0.877)">
      <img class="d-block mb-1 mr-3" th:src="@{/images/reports.png}" src="../../static/images/reports.png"
        alt="" width="48" height="48">
      <div class="lh-100" style="color: black;">
         <h6 class="mb-0 lh-100">Task Board</h6>
        <small>revisa las tareas de tu proyecto</small>
      </div>
    </div>


    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Tareas Recientes
          <button class="btn btn-info rounded-circle" data-toggle="modal" data-target="#exampleModalCenter">+</button>
      </h6>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar tareas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form th:action="@{update_task/{name}/{id}(id=${proyecto_id}, name=${username})}" method="POST" th:object="${task}" class="needs-validation" novalidate="" width="100">
                    <div class="mb-3 form-group">
                      <label for="name">Nombre de la tarea</label>
                      <input th:field="*{nombre_tarea}" type="text" class="form-control" placeholder="Name" required="">
                      <div class="invalid-feedback">
                        Valid name is required.
                      </div>
                    </div>
                    <div class="mb-3">
                          <label for="priori">Prioridad</label>
                          <select th:field="*{prioridad}" class="custom-select d-block w-100" id="priori" required="">
                            <option th:value="${Null}" >Choose...</option>
                            <option th:value="Hight" >Hight</option>
                            <option th:value="Middle-Hight" >Middle-Hight</option>
                            <option th:value="Middle" >Middle</option>
                            <option th:value="Middle-Low" >Middle-Low</option>
                            <option th:value="Low" >Low</option>
                          </select>
                          <div class="invalid-feedback">
                            Please provide a valid state.
                          </div>
                    </div>
      
                  <div class="mb-3">
                    <label for="username">Miembro asignado</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <select th:field="*{participante}" class="custom-select" id="inputGroupSelect01">
                        <option th:each="miembro : ${miembros}" th:value="${miembro.id_participante}" th:text="${miembro.Name}"></option>
                      </select>
                      <div class="invalid-feedback" style="width: 100%;">
                        el miembro es requerido.
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                        <label for="comment">Descripción</label>
                        <textarea th:field="*{descripcion}" th:value="*{descripcion}"  class="form-control" id="descripcion" rows="5"></textarea>
                  </div>
                  <hr class="mb-4">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button class="btn btn-primary" type="submit">Guardar Tarea</button>
                </form>
        </div>
      </div>
    </div>
  </div>
      <div class="media text-muted pt-3 border-bottom border-gray" th:each="proyecto: ${proyectos}">
        <svg class="bd-placeholder-img mr-2 rounded-circle" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
            dy=".3em">32x32</text>
        </svg>

        <p class="media-body pb-3 mb-0 small lh-125">
          <strong class="d-block text-gray-dark" th:text="${miembros_dicc[proyecto.participante]}">@username</strong></p>
        <a class="media-body pb-3 mb-0 small lh-125" th:text="${proyecto.nombre_tarea}" th:href="@{task_detail/{id}(id=${proyecto.id_task})}"></a>
        <p class="media-body pb-3 mb-0 small lh-125">
          <strong class="d-block text-gray-dark" th:text="${proyecto.fecha_inicio}"></strong></p>
        </p>
        <h5 class="media-body pb-3 mb-0 lh-125">
          <span class="badge badge-pill badge-info">85%</span>
          <span class="badge badge-pill badge-danger" th:text="${proyecto.prioridad}"></span></h5>
      </div>
      <small class="text-gray  d-block text-right mt-3">
        <a class="media-body pb-3 mb-0 lh-125">Jefe de proyecto: Juan</a>
      </small>
    </div>
    <div class="my-3 p-3"></div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>